/* fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8em;
  color: #63707e;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 20px;
}


/*-----------------navbar-------------- */
.navbar {
  color: #c8dad3;
}

.sectionA .overlay .container .container-fluid{
  padding: 0.2% 20% 0;
}

.sectionA .overlay .container .container-fluid .brandImg {
  font-family: 'Monoton', cursive;
  font-size: 35px;
}

.sectionA .overlay .container .container-fluid .brandImg:hover {
  color: inherit;
}

.navbar-custom{
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar a {
  color: #c8dad3;
  font-size: .9rem;
}

.navbar a:hover {
  color: white;
  transition: 0.2s ease;
  text-decoration: none;
}

.navbar ul li.active a {
  color: #f2f6f5;
}

.navbar .container .brandImg{
  font-family:'Monoton', cursive;
}

/* .navbar{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 30px;
} */
/* .rightBtn ul{
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
}

.rightBtn li{
  margin-left: 25px;
} */
/*-----------------background-------------- */
.sectionA {
  background-image: url(images/background.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/*-----------------top content-------------- */
.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30vh;
  color: #c8dad3;
}

.display h1 {
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  height: 100px;
}

.display h3 {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 25px;
}

.display a {
  color: #c8dad3;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 5px;
  padding: 8px 18px;
}

.display a:hover {
  background-color: #f2f6f5;
  color: black;
  transition: 0.6s ease;
  text-decoration: none;
  border: none;
}

/*-----------------section B------------- */
.sectionB {
  background-color: #f2f6f5;
  height: 100%;
  padding: 80px 0;
}

.sectionB .bImage {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 10px #93b5b3;
}

/*-----------------section C------------- */
:root {
  --primary-color: #425b84;
  --secondary-color: #f2f6f5;
  --max-width: 1100px;
}

.sectionC {
  background-color: #c8dad3;
  padding: 80px 0 120px;
  width: 100vw;
}

.sectionC h2 {
  margin-bottom: 0;
}

/* Create Line */
#timeline ul li {
  position: relative;
  width: 6px;
  padding-top: 50px;
  margin: 0 auto;
  background: #425b84;
  list-style: none;
}

/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: var(--secondary-color);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
}

/* Right Side */
#timeline ul li:nth-child(odd) div {
  left: 40px;
  transform: translate(200px, 0);
}

/* Left Side */
#timeline ul li:nth-child(even) div {
  left: -434px;
  transform: translate(-200px, 0);
}

/* Dots */
#timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: background 0.5s ease-in-out;
}

/* Arrows Base */
#timeline div:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--secondary-color) transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0px 8px 16px;
  border-color: transparent transparent transparent var(--secondary-color);
}

/* Show Boxes */
#timeline ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

#timeline ul li.show:after {
  background: var(--secondary-color);
}

/* @media(max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}

@media(max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
  }

  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  #timeline ul li:nth-child(even) div {
    left: 40px;
  }

  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
  }
} */

/*-----------------section D------------- */
.sectionD {
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/counter-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 50px 0 100px;
  color: #f2f6f5;
  background-attachment: fixed;
}

.firstCol {
  background: rgb(16, 31, 46);
  padding: 50px 0;
}

.secondCol {
  background: rgb(18, 34, 51);
  padding: 50px 0;
}

.thirdCol {
  background: rgb(21, 38, 56);
  padding: 50px 0;
}

.fourthCol {
  background: rgb(23, 44, 66);
  padding: 50px 0;
}

.sectionD span {
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}

.sectionD p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin: 0;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.sectionD .counter {
  font-size: 40px;
}

.item:hover p {
  color: white;
}

.item:hover span {
  color: white;
}

/*-----------------Section E-------------- */

.sectionE{
  background: #f2f6f5;
  height: 100%;
  padding: 80px 0 10px;
}

.wrapper {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

.sectionE .wrapper .container{
  padding: 0 100px;
}

.sectionE .wrapper .container h3{
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

/* First skill */
.firstskill {
  margin-bottom: 35px;
  position: relative;
  overflow-x: hidden;
}

.firstskill>p {
  font-size: 18px;
  font-weight: 700;
  color: #172c42;
  margin: 0;
}

.firstskill:before {
  width: 100%;
  height: 5px;
  content: "";
  display: block;
  position: absolute;
  background: #959595;
  bottom: 0;
}

.firstskill-bar {
  width: 100%;
  height: 5px;
  background: #ffb997;
  display: block;
  position: relative;
}

/* SKILL 1 */
.firstskill1 {
  width: 95%;
}

.firstskill-bar span {
  position: absolute;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}

.firstskill-bar {
  position: relative;
}

.firstskill1 .firstskill-count1 {
  right: 0;
}

/* SKILL 2 */
.firstskill2 {
  width: 80%;
}

.firstskill2 .firstskill-count2 {
  right: 0;
}

/* SKILL 3 */
.firstskill3 {
  width: 75%;
}

.firstskill3 .firstskill-count3 {
  right: 0;
}

/* SKILL 4 */
.firstskill4 {
  width: 70%
}

.firstskill4 .firstskill-count4 {
  right: 0;
}

/* SKILL 5 */
.firstskill5 {
  width: 65%;
}

.firstskill5 .firstskill-count5 {
  right: 0;
}

/* SKILL 6 */
.firstskill6 {
  width: 72%;
}

.firstskill6 .firstskill-count6 {
  right: 0;
}


/* Second Skill */
.secondskill {
  margin-bottom: 35px;
  position: relative;
  overflow-x: hidden;
}

.secondskill>p {
  font-size: 18px;
  font-weight: 700;
  color: #172c42;
  margin: 0;
}

.secondskill:before {
  width: 100%;
  height: 5px;
  content: "";
  display: block;
  position: absolute;
  background: #959595;
  bottom: 0;
}

.secondskill-bar {
  width: 100%;
  height: 5px;
  background: #f67e7d;
  display: block;
  position: relative;
}

/* SKILL 1 */
.secondskill1 {
  width: 75%;
}

.secondskill-bar span {
  position: absolute;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}

.secondskill-bar {
  position: relative;
}

.secondskill1 .secondskill-count1 {
  right: 0;
}

/* SKILL 2 */
.secondskill2 {
  width: 80%;
}

.secondskill2 .secondskill-count2 {
  right: 0;
}

/* SKILL 3 */
.secondskill3 {
  width: 75%;
}

.secondskill3 .secondskill-count3 {
  right: 0;
}

/* SKILL 4 */
.secondskill4 {
  width: 99%
}

.secondskill4 .secondskill-count4 {
  right: 0;
}

/* SKILL 5 */
.secondskill5 {
  width: 96%;
}

.secondskill5 .secondskill-count5 {
  right: 0;
}

/* SKILL 6 */
.secondskill6 {
  width: 98%
}

.secondskill6 .secondskill-count6 {
  right: 0;
}



/* Third Skill */
.thirdskill {
  margin-bottom: 35px;
  position: relative;
  overflow-x: hidden;
}

.thirdskill>p {
  font-size: 18px;
  font-weight: 700;
  color: #172c42;
  margin: 0;
}

.thirdskill:before {
  width: 100%;
  height: 5px;
  content: "";
  display: block;
  position: absolute;
  background: #959595;
  bottom: 0;
}

.thirdskill-bar {
  width: 100%;
  height: 5px;
  background: #843b62;
  display: block;
  position: relative;
}

/* SKILL 1 */
.thirdskill1 {
  width: 65%;
}

.thirdskill-bar span {
  position: absolute;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}

.thirdskill-bar {
  position: relative;
}

.thirdskill1 .thirdskill-count1 {
  right: 0;
}

/* SKILL 2 */
.thirdskill2 {
  width: 80%;
}

.thirdskill2 .thirdskill-count2 {
  right: 0;
}

/* SKILL 3 */
.thirdskill3 {
  width: 45%;
}

.thirdskill3 .thirdskill-count3 {
  right: 0;
}

/* SKILL 4 */
.thirdskill4 {
  width: 48%
}

.thirdskill4 .thirdskill-count4 {
  right: 0;
}


/* fourth Skills */

.fourthskill {
  margin-bottom: 35px;
  position: relative;
  overflow-x: hidden;
}

.fourthskill>p {
  font-size: 18px;
  font-weight: 700;
  color: #172c42;
  margin: 0;
}

.fourthskill:before {
  width: 100%;
  height: 5px;
  content: "";
  display: block;
  position: absolute;
  background: #959595;
  bottom: 0;
}

.fourthskill-bar {
  width: 100%;
  height: 5px;
  background: #de356a;
  display: block;
  position: relative;
}

/* SKILL 1 */
.fourthskill1 {
  width: 90%;
}

.fourthskill-bar span {
  position: absolute;
  top: -30px;
  padding: 0;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
}

.fourthskill-bar {
  position: relative;
}

.fourthskill1 .fourthskill-count1 {
  right: 0;
}

/* SKILL 2 */
.fourthskill2 {
  width: 90%;
}

.fourthskill2 .fourthskill-count2 {
  right: 0;
}

/* SKILL 3 */
.fourthskill3 {
  width: 95%;
}

.fourthskill3 .fourthskill-count3 {
  right: 0;
}

/* SKILL 4 */
.fourthskill4 {
  width: 75%
}

.fourthskill4 .fourthskill-count4 {
  right: 0;
}


/*-----------------Section F-------------- */

.sectionF{
  background: #c8dad3;
  height: 100%;
  padding: 80px 0;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  margin: 0 auto 40px;
  background-color: transparent;
  width: 320px;
  height: 320px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: #63707e;
  transform: rotateY(180deg);
}

.sectionF .flip-card-back h3{
  font-size: 1.2rem;
  padding: 20px 5px 5px;
}

.sectionF .flip-card-back hr{
  margin: 10px 0;
}

.sectionF .flip-card-back p{
  margin: 0 2px 5px;

}

.sectionF .flip-card-back a{
  color: #63707e;
  border: 1px solid #63707e;
  padding: 8px;
}

.sectionF .flip-card-back a:hover{
  background: #c8dad3;
  color: #63707e;
  text-decoration: none;
  transition: 0.3s ease;
}


/*-----------------Section G-------------- */

.sectionG{
  background: #3e4149;
  height: 100%;
  padding: 80px 0 150px;
}

.sectionG .container{
  text-align: center;
}

.inputBox{
  position: relative;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.input{
  position: relative;
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  color: #f2f6f5;
}

.inputText{
  position: absolute;
  line-height: 50px;
  font-size: 24px;
  transition: .5s;
  opacity: .5;
  color: #f2f6f5;
}

.focus .inputText{
  transform: translateY(-30px);
  font-size: 18px;
  opacity: 1;
  color: #63707e;
}

textarea{
  min-height: 100px;
  padding: 10px 2px;
}

.btun{
  width: 275px;
  background: #00bcb4;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 50px;
  font-size: 24px;
}

.btun:hover{
  background: #009991;
}

/*-----------------Footer-------------- */

footer{
  background: #93b5b3;
  height: 100%;
}

.icons{
  padding: 180px 0 80px;
}

i{
  margin: 0 7px;
  color: #246f8f;
}

i:hover{
  color: #143f52;
  transition: 0.3s;
}

.footerText{
  font-size: 14px;
  padding-top: 2px;
  color: #246f8f;
}

#slideshow {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  color: #143f52;
  font-size: 20px;
}

#slideshow > div {
  padding-top: 4%;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
